{% extends 'base.html.twig' %}

{% block body %}

    {% if error %}
        <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
    {% endif %}
    <form action="{{ path('security_login') }}" method="post">
        <fieldset>
            <legend><i class="fa fa-lock" aria-hidden="true"></i> Connexion </legend>
            <div class="form-group">
                <label for="username">Email/user</label>
                <input type="text" id="username" required name="_username" value="{{ last_username }}" class="form-control"/>
            </div>
            <div class="form-group">
                <label for="password">Mot de passe </label>
                <input type="password" id="password" required name="_password" class="form-control" />
            </div>
            <button type="submit" class="pull-right">
                <i class="fa fa-sign-in" aria-hidden="true"></i> Se connecter
            </button>

        </fieldset>
    </form>
    <h2> Si vous n'etes pas encore inscrit, vous pouvez le faire en cliquant sur le boutton ci-dessous 👇 </h2>
    <button onclick="window.location.href = '{{path('security_registration')}}';" class="pull-right">
        <i class="fa fa-sign-in" aria-hidden="true"></i> S'inscrire
    </button>

{% endblock %}