{% extends 'base.html.twig' %}

{% block body %}
<h1>Administration</h1>
<ul>
    <li><a href="{{ path('admin_users') }}">Gestion des utilisateurs</a></li>
    <li><a href="{{ path('admin_articles') }}">Gestion des articles</a></li>
</ul>
{% endblock %}
