{% extends "base.html.twig" %}


{% block body %}

<section class="hero" data-aos="fade-up">
    <h1>Bienvenue sur NovaBlog</h1>
    <a href="{{ path('blog') }}" class="btn btn-primary">Lire les articles</a>
</section>
<section class="mt-5">
    <h2>Articles populaires</h2>
    <div class="row">
        {% for art in popular %}
            <div class="col-md-4 mb-3" data-aos="zoom-in">
                <div class="card h-100">
                    {% if art.image %}
                        <img src="{{ asset('uploads/article/image/' ~ art.image) }}" class="card-img-top" alt="">
                    {% endif %}
                    <div class="card-body">
                        <h5 class="card-title">{{ art.title }}</h5>
                        <a href="{{ path('blog_show', {'slug': art.slug}) }}" class="btn btn-sm btn-outline-primary">Lire</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</section>

{% endblock %}
