{% extends "base.html.twig" %}


{% block body %}

<div class="p-5 mb-4 bg-white rounded-3 shadow-sm">
    <div class="container py-5 text-center">
        <h1 class="display-4 fw-bold mb-3">Bienvenue sur NovaBlog</h1>
        <p class="lead mb-4">Découvrez nos derniers articles et partagez vos idées avec la communauté.</p>
        <a href="{{ path('blog') }}" class="btn btn-primary btn-lg">Voir les articles</a>
    </div>
</div>

{% endblock %}

