{% extends 'base.html.twig' %}

{% block title %}Articles{% endblock %}

{% block body %}
<div class="row" data-aos="fade-up">
    {% for article in articles %}
        <div class="col-md-4 mb-4" data-aos="zoom-in">
            <div class="card h-100">
                {% if article.image %}
                    <img src="{{ asset('uploads/article/image/' ~ article.image) }}" class="card-img-top" alt="">
                {% endif %}
                <div class="card-body">
                    <h5 class="card-title">{{ article.title }}</h5>
                    <p class="card-text"><small class="text-muted">{{ article.createdAt|date('d/m/Y') }}</small></p>
                    <a href="{{ path('blog_show', {'slug': article.slug}) }}" class="btn btn-primary">Lire la suite</a>
                </div>
            </div>
        </div>
    {% endfor %}
</div>
{% endblock %}
